<h1>Effectuer un dépôt pour {{utilisateur.nom}} {{utilisateur.prenom}}</h1>
<div class="depotMode">
    <div class="depot-list">
        <h2>Liste des jeux</h2>
        <table mat-table [dataSource]="jeux" class="mat-elevation-z8">
            <ng-container matColumnDef="nomJeu">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{ element.nomJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="editeurJeu">
                <th mat-header-cell *matHeaderCellDef> Editeur </th>
                <td mat-cell *matCellDef="let element"> {{ element.editeurJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="prixJeu">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let element"> {{ element.prixJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="quantiteJeu">
                <th mat-header-cell *matHeaderCellDef> Quantité </th>
                <td mat-cell *matCellDef="let element"> {{ element.quantiteJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="fraisDepot">
                <th mat-header-cell *matHeaderCellDef> Frais unitaire (en €) </th>
                <td mat-cell *matCellDef="let element"> {{ element.fraisDepot }} </td>
            </ng-container>
            <ng-container matColumnDef="remiseDepot">
                <th mat-header-cell *matHeaderCellDef> Remise (en %) </th>
                <td mat-cell *matCellDef="let element"> {{ element.remiseDepot }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="delete-button">
            <button mat-raised-button (click)="deleteJeu()">Supprimer</button>
        </div>
    </div>
    <div class="depot">
        <h2>Ajouter des jeux</h2>
        <form [formGroup]="jeuDepotForm" (ngSubmit)="makeDeposit()">
            <div>
                <mat-form-field for="nomJeu">
                    <mat-label>Nom :</mat-label>
                    <input matInput id="nomJeu" formControlName="nomJeu" />
                </mat-form-field>
                <mat-form-field for="editeurJeu">
                    <mat-label>Editeur :</mat-label>
                    <input matInput id="editeurJeu" formControlName="editeurJeu" />
                </mat-form-field>
                <mat-form-field for="prixJeu">
                    <mat-label>Prix :</mat-label>
                    <input matInput id="prixJeu" formControlName="prixJeu" />
                </mat-form-field>
                <mat-form-field for="quantiteJeu">
                    <mat-label>Quantité : </mat-label>
                    <input matInput id="quantiteJeu" formControlName="quantiteJeu" />
                </mat-form-field>
                <mat-form-field for="remiseDepot">
                    <mat-label>Remise (en %) : </mat-label>
                    <input matInput id="remiseDepot" formControlName="remiseDepot" />
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-raised-button (click)="goBack()">Retour</button>
                <button mat-raised-button [disabled]="jeuDepotForm.invalid" (click)="addJeu()">Ajouter au dépôt</button>
            </div>
            <div class="submit-button">
                <button mat-raised-button type="submit" [disabled]="depot_vide">Effectuer le dépôt</button>
            </div>
        </form>
    </div>
</div>