.depotMode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85vh;
  max-width: 1350px;
  margin: 0 auto;
  height: auto;
}

.depot {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: beige;
  border-radius: 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.depot-list {
  flex: 1.9;
  padding: 20px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

h1, h2 {
  display: flex;
  justify-content: center;
}

.button, .submit-button {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin-top: 10px;
}

button {
  margin-right: 10px;
}