@if (utilisateur) {
<div class="container">
    <h1>Liste des jeux de {{utilisateur.nom}} {{utilisateur.prenom}}</h1>
    <!-- <button mat-raised-button color="primary" (click)="goBack()">retour</button> -->
    <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Monopoly" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">
        <ng-container matColumnDef="nomJeu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nom </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.nomJeu }} </td>
        </ng-container>
        <ng-container matColumnDef="editeurJeu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Editeur </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.editeurJeu }} </td>
        </ng-container>
        <ng-container matColumnDef="prixJeu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Prix </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.prixJeu | currency:'EUR' }} </td>
        </ng-container>
        <ng-container matColumnDef="quantiteJeuDisponible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Quantité disponible </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.quantiteJeuDisponible | number }} </td>
        </ng-container>
        <ng-container matColumnDef="quantiteJeuVendu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Quantité vendue </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.quantiteJeuVendu | number }} </td>
        </ng-container>
        <ng-container matColumnDef="statutJeu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Statut </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.statutJeu }} </td>
        </ng-container>
        <ng-container matColumnDef="dateDepot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="dateDepot"> Date </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.dateDepot | date:'shortDate':'fr' }} </td>
        </ng-container>
        <ng-container matColumnDef="fraisDepot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Frais de dépôt
            </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.fraisDepot | currency:'EUR' }} </td>
        </ng-container>
        <ng-container matColumnDef="remiseDepot">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Remise dépôt
            </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.remiseDepot | number }} % </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let jeu">
                <button mat-icon-button (click)="editJeu(jeu)" matTooltip="Modifier le jeu">
                    <mat-icon>edit</mat-icon>
                </button>
                @if (jeu.statutJeu != "Supprimé") {
                <button mat-icon-button color="warn" (click)="deleteJeu(jeu)" matTooltip="Supprimer le jeu">
                    <mat-icon>delete</mat-icon>
                </button>
                }
                @if (jeu.statutJeu == "Supprimé") {
                <button mat-icon-button color="warn" (click)="restoreJeu(jeu)" matTooltip="Restaurer le jeu">
                    <mat-icon>add</mat-icon>
                </button>
                }
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of jeux">
    </mat-paginator>
</div>
}