<div class="venteMode">
    <h1>Acheter un jeu pour {{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>
    <div class="container">
        <div class="available-games">
            <h2>Jeux Disponibles</h2>
            <table mat-table [dataSource]="availableGames" class="mat-elevation-z8">
                <ng-container matColumnDef="nomJeu">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{ element.nomJeu }} </td>
                </ng-container>
                <ng-container matColumnDef="prixJeu">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let element"> {{ element.prixJeu }} € </td>
                </ng-container>
                <ng-container matColumnDef="quantiteJeu">
                    <th mat-header-cell *matHeaderCellDef> Quantité </th>
                    <td mat-cell *matCellDef="let element"> {{ element.quantiteJeu }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['nomJeu', 'prixJeu', 'quantiteJeu']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['nomJeu', 'prixJeu', 'quantiteJeu'];"
                    (click)="defineQuantitySelector(row)"></tr>
            </table>
        </div>

        <!-- Composant de sélection de quantité -->
        <app-user-vente-qte *ngIf="selectedGameForQuantity" [game]="selectedGameForQuantity!"
            (onConfirm)="handleQuantitySelection($event)" (onCancel)="cancelQuantitySelection()">
        </app-user-vente-qte>

        <div class="selected-games">
            <h2>Jeux Sélectionnés</h2>
            <table mat-table [dataSource]="selectedGames" class="mat-elevation-z8">
                <ng-container matColumnDef="nomJeu">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{ element.nomJeu }} </td>
                </ng-container>
                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef> Quantité </th>
                    <td mat-cell *matCellDef="let element">{{ element.quantiteVendus }}</td>
                </ng-container>
                <ng-container matColumnDef="prixJeu">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let element"> {{ element.prixJeu }} € </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['nomJeu', 'quantite', 'prixJeu']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['nomJeu', 'prixJeu'];" (click)="removeGameFromPurchase(row)">
                </tr>
            </table>
            <div class="total">
                <p>Montant Total : {{ totalAmount }} €</p>
            </div>
            <button mat-raised-button color="primary" (click)="makePurchase()">Effectuer l'achat</button>
        </div>
    </div>
</div>