<div class="container">
    <div class="display">
        <table mat-table [dataSource]="jeux" class="mat-elevation-z8">
            <ng-container matColumnDef="nomJeu">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{ element.nomJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="editeurJeu">
                <th mat-header-cell *matHeaderCellDef> Editeur </th>
                <td mat-cell *matCellDef="let element"> {{ element.editeurJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="prixJeu">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let element"> {{ element.prixJeu }} </td>
            </ng-container>
            <ng-container matColumnDef="quantiteJeu">
                <th mat-header-cell *matHeaderCellDef> Quantité </th>
                <td mat-cell *matCellDef="let element"> {{ element.quantiteJeu }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="button>">
            <button mat-raised-button (click)="updateDepot()">Supprimer</button>
        </div>
    </div>
</div>