.admin {
    position: fixed;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}