<div class="admin">
    <h1>Créer sesion dépôt-vente</h1>
    <form [formGroup]="sessionForm" (ngSubmit)="addSession()">
        <div>
            <mat-form-field for="dateDebut">
                <mat-label>Date de début :</mat-label>
                <input matInput [matDatepicker]="picker1" id="dateDebut" formControlName="dateDebut" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field for="heureDebut">
                <mat-label>Heure de début :</mat-label>
                <input matInput type="time" id="heureDebut" formControlName="heureDebut" />
            </mat-form-field>
            <mat-form-field for="dateFin">
                <mat-label>Date de fin :</mat-label>
                <input matInput [matDatepicker]="picker2" id="dateFin" formControlName="dateFin" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field for="heureFin">
                <mat-label>Heure de fin :</mat-label>
                <input matInput type="time" id="heureFin" formControlName="heureFin" />
            </mat-form-field>
            <mat-form-field for="fraisDepot">
                <mat-label>Fais de dépôt (en %) :</mat-label>
                <input matInput id="fraisDepot" formControlName="fraisDepot" />
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-raised-button type="submit" [disabled]="sessionForm.invalid">Créer session</button>
        </div>
    </form>
</div>