<div class="add">
  <h1>Ajouter un utilisateur</h1>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div>
      <mat-form-field for="nom">
        <mat-label>Nom :</mat-label>
        <input matInput id="nom" formControlName="nom" />
      </mat-form-field>
      <mat-form-field for="prenom">
        <mat-label>Prénom :</mat-label>
        <input matInput id="prenom" formControlName="prenom" />
      </mat-form-field>
      <mat-form-field for="mail">
        <mat-label>Mail :</mat-label>
        <input matInput id="mail" formControlName="mail" />
      </mat-form-field>
      <mat-form-field for="telephone">
        <mat-label>Téléhone : </mat-label>
        <input matInput id="telephone" formControlName="telephone" />
      </mat-form-field>
      <mat-form-field for="adresse">
        <mat-label>Adresse : </mat-label>
        <input matInput id="adresse" formControlName="adresse" />
      </mat-form-field>
      <mat-form-field for="role">
        <mat-label>Rôle :</mat-label>
        <mat-select id="role" formControlName="role" [value]="roles">
          @for (role of roles; track role) {
            <mat-option [value]="role"> {{ role }} </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button type="button" (click)="goBack()">Retour</button>
      <button mat-raised-button type="submit" [disabled]="userForm.invalid">Ajouter</button>
    </div>
  </form>
</div>
