.add {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
}
