<div class="haut">
  <h1>Liste des utilisateurs</h1>
</div>
<div class="container">
  <div class="list-container">
    <div class="filter-container">
      <div class="search">
        <mat-form-field appearance="outline">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jean" #input>
        </mat-form-field>
      </div>
      <div class="filter">
        <button mat-icon-button [matMenuTriggerFor]="filterMenu" matTooltip="Appliquer un filtre" class="filter-button">
          <mat-icon>filter_alt</mat-icon>
        </button>

        <mat-menu #filterMenu="matMenu">
          <button mat-menu-item (click)="filterUsers('all')" class="menu-item">
            <mat-icon>group</mat-icon>
            <span>Afficher tous</span>
          </button>
          <button mat-menu-item (click)="filterUsers('acheteurs')" class="menu-item">
            <mat-icon>person</mat-icon>
            <span>Acheteurs</span>
          </button>
          <button mat-menu-item (click)="filterUsers('vendeurs')" class="menu-item">
            <mat-icon>store</mat-icon>
            <span>Vendeurs</span>
          </button>
        </mat-menu>

        <button mat-icon-button (click)="navigateToAdd()" matTooltip="Ajouter un utilisateur" class="add-button">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="list">
      @for (utilisateur of utilisateurs; track utilisateur._id) {
        <div class="scrollable-container">
          <mat-list role="list" class="scrollable-list">
            <mat-list-item role="listitem">
              <button mat-button (click)="showDetails(utilisateur)">
                <h3>{{utilisateur.nom}} {{utilisateur.prenom}}</h3>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      }
    </div>
  </div>
  <div class="details">
    @if (selectedUser) {
    <app-user-details [utilisateur]="selectedUser" (userDeleted)="onUserDeleted()"
      (userUpdated)="onUserUpdated()"></app-user-details>
    }
  </div>
</div>