.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
}

.haut {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}

.haut h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addbutton {
  align-self: flex-start;
  margin-left: 100px;
  margin-top: 5px;
}

.list-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color:beige;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.list {
  flex: 1;
  overflow-y: auto;
}

.details {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.bilan {
  margin-top: 20px;
}

h2 {
    display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
}

button {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 0;
}