.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85vh;
  max-width: 1350px;
  margin: 0 auto;
}

.haut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  height: 60px;
}

.haut h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: beige;
  border-radius: 50px;
  margin-right: 10px;
  justify-content: center;
  perspective: 1000px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.list {
  flex: 1;
  overflow-y: auto;
}

.details {
  flex: 2;
  padding: 20px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  justify-content: center;
}

.bilan {
  margin-top: 20px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button,
.add-button {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.filter-button:hover,
.add-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.mat-icon {
  font-size: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item mat-icon {
  margin-right: 10px;
}

.mat-menu-panel {
  padding: 5px 0;
}