.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 25px;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.select {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.details {
  flex: 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[mat-raised-button] {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}

button[mat-raised-button]:hover {
  background-color: #303f9f;
}
