<div class="container">
  <h1>{{ title }}</h1>
  <div class="select">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select [(value)]="selectedUser">
        @for (utilisateur of utilisateurs; track utilisateur) {
          <mat-option [value]="utilisateur"> {{ utilisateur.nom }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="content">
    <div class="details">
      @if (selectedUser != null) {
        <app-user-details [utilisateur]="selectedUser"></app-user-details>
      }
    </div>
  </div>
</div>
