<div class="login">
    <h1>Connexion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field for="username" appearance="outline">
                <mat-label>Pseudo</mat-label>
                <input matInput id="username" formControlName="username" />
            </mat-form-field>
            <mat-form-field for="password" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" id="password" formControlName="password"/>
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        @if (errorMessage) {
        <div class="error">
            <p>{{errorMessage}}</p>
        </div>
        }
        <div class="button">
            <button mat-raised-button type="button" (click)="goBack()">Retour</button>
            <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Connexion</button>
        </div>
    </form>
</div>