@if (utilisateur) {
<div class="container">
    <h1>Liste des achats de {{utilisateur.nom}} {{utilisateur.prenom}}</h1>
    <table mat-table [dataSource]="dataSource" matSort #achatsSort="matSort"
        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="vendeurNom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Vendeur </th>
            <td mat-cell *matCellDef="let vente"> {{ vente.vendeurNom ? vente.vendeurNom : 'Vendeur supprimé' }} </td>
        </ng-container>
        <ng-container matColumnDef="dateVente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="dateVente"> Date </th>
            <td mat-cell *matCellDef="let vente"> {{ vente.dateVente | date:'shortDate':'fr' }} </td>
        </ng-container>
        <ng-container matColumnDef="montantTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Montant Total
            </th>
            <td mat-cell *matCellDef="let vente"> {{ vente.montantTotal | currency:'EUR' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showJeuxAcheter(row)"
            [class.selected-row]="row === selectedRow"></tr>
    </table>
    <mat-paginator #achatsPaginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        aria-label="Select page of achats">
    </mat-paginator>
@if (jeuxAcheterDataSource) {
    <h3>Jeux de la vente</h3>
    <table mat-table [dataSource]="jeuxAcheterDataSource" matSort #jeuxAcheterSort="matSort"
        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="jeuNom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nom </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.jeuNom }} </td>
        </ng-container>
        <ng-container matColumnDef="editeurNom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Editeur </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.editeurNom }} </td>
        </ng-container>
        <ng-container matColumnDef="quantiteVendus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Quantité achetée </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.quantiteVendus | number }} </td>
        </ng-container>
        <ng-container matColumnDef="prixJeu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Prix </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.prixJeu | currency:'EUR' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['jeuNom', 'editeurNom', 'quantiteVendus', 'prixJeu']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['jeuNom', 'editeurNom', 'quantiteVendus', 'prixJeu']"></tr>
    </table>
    <mat-paginator #jeuxAcheterPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of jeux">
    </mat-paginator>
}
@if (selectedRow) {
    <button mat-raised-button (click)="telechargerFacture(selectedRow)">Télécharger facture</button>
}
</div>
}